// Top Navigation
.navbar {
    .navbar-brand {
        position: absolute;
        top: 10px;
        left: 1em;

        width: 50px;
        padding: 10px;
        // background: #f00;        
        margin-left: 0;
        img {
            @include img-responsive;
        }
    }
    .navbar-nav {
        display: inline-block;
        float: none;

        font-weight: 100;

        vertical-align: top;
        text-transform: uppercase;
        > li {
            padding-right: 3em;
            padding-left: 3em;
        }
    }
    .navbar-collapse {
        text-align: center;
    }
}

//
// General Pane Styles
// 
.pane {
    h1 {
        display: inline-block;
        clear: both;

        text-transform: uppercase;
        &::after {
            position: relative;
            top: .25em;
            right: 50%;

            display: block;

            content: "";

            border-bottom: 3px solid #333;
        }
    }
}

//
// Home
//

// Header
#home_header {
    .bigLogo {
        @include make-sm-column-offset(4);
        @include make-sm-column(4);
        @include make-xs-column-offset(1);
        @include make-xs-column(10);
    }
    .intro {
        padding-top: $line-height-computed*2;
        clear: both;

        @include make-sm-column-offset(3);
        @include make-sm-column(6);
    }
}


// Pieces
.pieces {
    @include mq($from: sm) {
        column-count: 3;
        column-fill: auto;
        column-gap: 2em;
    }
    > article {
        position: relative;
        // @include make-sm-column(4, 2em);

        display: inline-block;
        margin-top: 2em;
        > figure {
            > a {

                @include mq($until: sm) {
                    // Display piece description on mobile
                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;

                        display: block;
                        width: 100%;
                        height: auto;
                        min-height: 30px;
                        padding: 1em 1.4em;
                        opacity: 1;

                        font-family: "Open Sans Condensed", "Helvetica", sans;
                        font-size: 1.4em;

                        content: attr(title);
                        text-align: center;
                        white-space: pre-wrap;
                        text-transform: uppercase;

                        background: rgba(255,255,255,.9);

                        align-items: center;
                        justify-content: center;
                    }
                }

                @include mq($from: sm) {

                    // All this mess to show a title overlay on hover
                    &::after {
                        // Transition out (on mouse-out)
                        transition: all 1s ease-out;

                        position: absolute;
                        top: 0;
                        left: 0;

                        display: flex;
                        width: 100%;
                        height: 100%;
                        padding-right: 1em;
                        padding-left: 1em;
                        // opacity: 0;

                        font-family: "Open Sans Condensed", "Helvetica", sans;
                        font-size: 1.4em;
                        color: transparent;
                        line-height: 1.1em;

                        content: attr(title);
                        text-align: center;
                        white-space: pre-wrap;
                        text-transform: uppercase;

                        align-items: center;
                        justify-content: center;
                    }

                    &:hover::after, &:focus::after {
                        // All the overlay elements that animate go here

                        // Transition in (on mouse-over)
                        transition:
                            border 150ms ease-in-out,
                            background 150ms ease-in-out,
                            color 200ms ease-in-out 100ms;

                        background: rgba(255,255,255,.95);
                        border: 3px solid #222;
                        color: #222;

                        box-shadow: 5px 5px 0 0 rgba(45,45,45,1);
                    }
                }
                > img {
                    @include img-responsive;
                }
            }
        }
    }
}

// 
// Footer
//
#nav_footer {
    padding-bottom: 1em;

    text-align: center;

    background: $gray-lighter;
    > p {
        margin-bottom: 0;
    }
}

// 
// Social
// 
// 	ul {
// 		@include list-unstyled();
// 		margin-top: 1rem;
// 	}

// 	li {
// 		display: inline-block;

// 		&:not(:last-child) {
// 			margin-right: 1em;
// 		}
// 	}

// 	.symbol {
// 		&:before {
// 			font-size: 3em;
// 		}
// 	}
// }
