.one-pager {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	background: $gray-lighter;
	min-height: 100%;
	min-height: 100vh;
	text-align: center;
	border: 1em solid #fff;

	header {
		margin: 1em auto;

		img {
			@include img-responsive();
		}
	}

	.logo {
		width: 10em;
		margin: 0 auto;

		@include mq($from: tablet) {
			width: 20em;
		}
	}

	ul {
		@include list-unstyled();
		margin-top: 1rem;
	}

	li {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 1em;
		}
	}

	.symbol {
		&:before {
			font-size: 3em;
		}
	}
}