extends ./_layouts/default.pug

block title
	title zuzanna rajewska

block content
	section#home_header.pane.top.light.tall
		.container
			.row
				img(src="assets/images/logo-blackcircle.svg").bigLogo
				p.intro Hello, vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.

	section#work.pane.lightest.huge
		header
			h2 work

	section#contact.pane.light.tall
		header
			h2 contact me