doctype html
html
	head
		title zuzanna rajewska
		link(rel="stylesheet" href="/styles/style.css")
	body
		.jumbotron.one-pager.vertical-center
			.container
				header
					img(src="/assets/images/logo-blackcircle.svg").logo
					h1 zuzanna rajewska
				.row
					ul.list-unstyled
						li: a(href="https://www.behance.net/rajewska/", title='circlebehance').symbol 
						li: a(href="mailto:hollykitty@gmail.com", title='circleemail').symbol 