doctype html
html
	head
		title zuzanna rajewska
		link(rel="stylesheet", href="/styles/style.css")
		meta(name="viewport" content="width=device-width initial-scale=1.0")
	body
		.one-pager
			.container
				header
					img(src="/assets/images/logo-blackcircle.svg").logo
					h1 zuzanna rajewska

				ul
					li: a(href="https://www.behance.net/rajewska/", title='circlebehance').symbol 
					li: a(href="mailto:zrajewska@gmail.com", title='circleemail').symbol 