extends ./_layouts/default.pug

block title
	title zuzanna rajewska

block content
	section#home_header.pane.top.light.tall
		.container
			.row
				img(src="assets/images/logo-blackcircle.svg").bigLogo
				p.intro Hello, vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.

	section#work.pane.lightest.huge
		header
			h1 work

		.pieces.container
			each i in new Array(9)
				- var height = Math.floor(Math.random() * (350 - 530) + 530)
				article
					figure
						a(href="#", title!="2015&#xa;Fashion Trends Moodboard&#xa;Oriflame")
							img(src="http://lorempixel.com/350/"+height+"/animals")
							//- img(src="http://loremflickr.com/350/"+height+"/abstract")
							//- img(src="http://placehold.it/350x"+height)

	section#contact.pane.light.tall
		header
			h1 contact me
			p Hello, vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.

		.container
			a(href="mailto:zrajewska@gmail.com").email zrajewska@gmail.com

			ul.social.list-inline
				li: a(href="http://pinterest.com/zrajewska", title="Pinterest") #[span.symbol pinterest] 
				li: a(href="http://instagram.com/hollykitty666", title="Instagram") #[span.symbol instagram]
				li: a(href="http://soundcloud.com/hollykitty", title="Soundcloud") #[span.symbol soundcloud]
				li: a(href="https://www.linkedin.com/in/zuzannarajewska", title="Linkedin") #[span.symbol linkedin]
