doctype html
html
	head
		title zuzanna rajewska
		link(rel="stylesheet" href="/styles/style.css")
	body
		.jumbotron.one-pager
			.container
				h1 zuzanna rajewska
				ul
					li: a(href="https://www.behance.net/rajewska/") portfolio
					li: a(href="mailto:hollykitty@gmail.com") contact