head
	block title
		title

	meta(charset="utf-8")
	meta(name='viewport', content='width=device-width, initial-scale=1')
	// build:base
	// endbuild
	link(rel="stylesheet" href="styles/style.css")
	link(rel="icon" type="image/png" href="favicon.ico")
	script(type="text/javascript", src="scripts/vendor/jquery.min.js")
	script(type="text/javascript", src="scripts/vendor/bootstrap.min.js", defer="defer")